modules = ["nodejs-24"]

run = "cd package && pnpm dev"

[deployment]
deploymentTarget = "static"
publicDir = "dist"

[workflows]
runButton = "Project"

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 22694
externalPort = 3000

[agent]
expertMode = true
